
.mi-div {
    width: 300px;
    height: 483px;
    background-image: url(Img/Arrogant\ King\ \(1\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 120px;
    right: 500px;
}
.akira4 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Akira\ \(4\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.animal42 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Animals\ \(42\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.animal44 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Animals\ \(44\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.akira30 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Akira\ \(30\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.anarquia2 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Anarquia\ \(2\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.cowboy11 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Cowboy\ \(11\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.rostro5 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Rostro\ \(5\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}
.rostro6 {
    width: 300px;
    height: 483px;
    background-image: url(Img/Rostro\ \(6\).jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    top: 120px;
    right: 10px; /* Posiciona el cuadro al lado derecho de la página */
}


/*wallpapers for class in the body */
.fondoinicio{
    background-image: url(Img/Arrogant\ King\ \(1\).jpg);
    background-size:600px;
}
.fondocontador1{
    background-image: url(Img/Akira\ \(4\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}
.fondocontador2{
    background-image: url(Img/Animals\ \(42\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}
.fondocontador3{
    background-image: url(Img/Animals\ \(44\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}
.fondoakira30{
    background-image: url(Img/Akira\ \(30\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}
.fondoanarquia2{
    background-image: url(Img/Anarquia\ \(2\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}
.fondocowboy11{
    background-image: url(Img/Cowboy\ \(11\).jpg);
    background-size:auto;
    background-repeat:no-repeat;
}

.fondorostro5{
    background-image: url(Img/Rostro\ \(5\).jpg);
    background-size:auto;
    background-repeat:no-repeat;
}
.fondorostro6{
    background-image: url(Img/Rostro\ \(6\).jpg);
    background-size:400px;
    background-repeat:no-repeat;
}